/* MentorCard.css */

.mentor-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.mentor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mentor-card-header {
  padding: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.mentor-card-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.mentor-details {
  padding: 20px;
}

.mentor-name {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #333333;
}

.mentor-email,
.mentor-company {
  margin: 5px 0;
  color: #777777;
}

.mentor-description {
  margin-top: 15px;
  color: #555555;
  font-size: 1rem;
}

.display-technologies {
  margin-top: 15px;
  color: #444444;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .mentor-card {
    max-width: 100%;
  }
}
